.cms-layout-app {
  min-height: 100vh;

  &-login {
    padding-top: 20vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-image: url(../../assets/images/background-login.png);
    background-size: 100% 100%;

    .layout-form-login {
      min-width: 328px;
      max-width: 75vh;
    }
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #003a8c;
  }

  .logo {
    width: 120px;
    height: 120px;
    margin: 16px;
    margin-bottom: 40px;
    background-image: url('../../assets/images/logo_2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    left: -10px;
  }

  .logo-login {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 32px;
  }

  .zalo-wrap-img {
    width: auto;

    .text-login-with {
      margin-right: 10px;
      font-size: 15px;
    }

    .icon {
      width: 50px;
      filter: sepia(100%) grayscale(100%);
    }

    .icon:hover {
      width: 50px;
      filter: none;
    }
  }

  .site-layout .site-layout-background {
    background: #fff;
    padding: 0 24px 24px;
  }

  .site-layout .site-layout-background-header {
    background: #fff;
    padding: 0 24px 24px;
    display: flex;
    justify-content: space-between;
  }

  .login-button {
    width: 150px;
    border-radius: 8px;
    height: 45px;
  }
  .submit-login-zone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login-basic * {
    font-size: 16px;
    input {
      margin-left: 4px;
      border-radius: 4px;
    }
  }
}

.ant-layout-sider-collapsed {
  .logo {
    background-image: url(https://stc-fin.zdn.vn/resources/images/logo-fiza-white-2.svg) !important;
  }
}

.top-right-container {
  display: flex;
}

.platform-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;

  .btn-logout {
    margin-left: 20px;
  }
}

.action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;

  .btn-logout {
    margin-left: 20px;
  }
}

.app-type-menu {
  padding-bottom: 16px;

  .ant-menu-item {
    flex-grow: 1;
    text-align: center;
  }
}

.check-color {
  color: #2da504;
}

.uncheck-color {
  color: #e8450a;
}

.name-zone {
  display: flex;
  img {
    display: block;
    margin-right: 8px;
  }
}
.red {
  color: #e91111;
}
.green {
  color: #2da504;
}
.blue {
  color: #0e82ee;
}

.info-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  background-color: #fff;
  padding: 16px;

  .row {
    display: flex;
    align-items: center;
    padding-left: 12px;
    width: 100%;

    .title {
      font-weight: 500;
      display: inline-block;
      margin-right: 8px;
      margin-left: 10px;
    }
    * {
      font-size: 17px;
    }
  }
}

.ant-layout-sider-children {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-white {
  background-color: #fff;
}

.site-page-problem {
  // border: 1px solid rgb(235, 237, 240);
  // margin-bottom: 16px !important;
  border-radius: 4px;
}
.problem-content {
  display: flex;
  &-name {
    width: 80%;
    font-size: 25px;
    font-weight: 600;
    color: #343436;
    margin-bottom: 24px;
  }
  &-name-zone {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: #7c7a7a;
    margin-bottom: 12px;
  }
  &_left {
    width: 70%;
    & > div:first-child {
      margin-bottom: 16px;
    }
    padding-right: 40px;
  }
  &_right {
    width: 30%;
    .ant-space {
      display: flex;
      justify-content: flex-start;
      .save {
        background-color: #0b8305;
        border-color: #0b8305;
        &:hover {
          opacity: 0.8;
        }
      }
      position: relative;
      left: -16px;
    }
    .info-zone {
      margin-bottom: 16px;
      width: 100%;
      background-color: #fff;
      span {
        font-size: 16px;
      }
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .comment-list {
      width: 100%;
      background-color: #fff;
      padding: 16px 12px;
      border-radius: 8px;
      margin-bottom: 16px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      max-height: 600px;
      overflow-y: auto;
      scrollbar-width: thin;
      
      // overflow-x: hidden;
      // .comment-right{
      //     display: flex;
      //     flex-direction: column;
      //     align-items: flex-end;
      //     .ant-comment-content-detail{
      //         text-align: right;
      //     }
      //     .ant-comment-inner{
      //       flex-direction: row-reverse;
      //     }
      //     .ant-comment-content-author{
      //       flex-direction: row-reverse;

      //     }
      //   }
      .ant-menu-vertical {
        width: 30px !important;
        border: none !important;
        .ant-menu-submenu-arrow {
          display: none;
        }
        .ant-menu-submenu-title {
          padding: 0px !important;
          // height: 14px;
          // line-height: 14px;
        }
      }
      .menu-click {
        .ant-menu-submenu-title {
          padding: 0px !important;
          height: 14px;
          line-height: 14px;
        }
      }
    }
  }
  .ck.ck-editor__editable_inline {
    min-height: 700px;
    font-size: 16px;
  }
  .edited {
    color: #a0a0a0;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
  }
  .menu-click {
    display: flex;
    justify-content: space-between;
  }
  .send-comment-zone {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    textarea {
      width: 230px;
      padding: 8px;
      min-height: 70px;

      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #ffffff;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #333;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;
      &:focus {
        outline: 1px solid #4e8aeb;
      }
    }
    button {
      align-self: center;
    }
  }
  
}

// .ant-dropdown-menu-title-content{
//   text-align: right
// }

.ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub {
  min-width: 80px!important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858484;
}
